.plan-trip-section{
  flex: 1;
  background-color: #f6f2ef;
  padding: 40px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
  max-width: 1698px;
}
.plan-trip-section .container {
  max-width: 900px;
  margin: 0 auto;
}
.plan-trip-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}
.plan-trip-section p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}
.tab-container {
  display: flex;
  flex-direction: row; /* stack items vertically */
  gap: 15px;
  align-items: stretch;
}
.trip {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  position: relative;
}

.trip .icon {
  font-size: 16px;
}

.trip.active {
  border-color: #66b6b2;
  color: black;
}

.trip.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f3c997;
}
/* Mobile screens */
@media (max-width: 600px) {
  .plan-trip-section {
    padding: 20px 15px;
  }
  .plan-trip-section h2 {
    font-size: 20px;
    text-align: center;
  }
  .plan-trip-section p {
    font-size: 12px;
    text-align: center;
  }
 .tab-container {
  display: flex;
  flex-direction: row; /* stack items vertically */
  gap: 12px;              /* spacing between rows */
}
  .trip {
    width: 100%; /* full width buttons */
    font-size: 14px;
  }
}