.place-visit {
  display: flex;
  flex-wrap: wrap; /* allow items to wrap on smaller screens */
  gap: 40px; /* smaller, more fluid gap */
  padding-bottom: 30px;
}
.place-name{
  padding-left: 10px;
}
.fixed-width-div {
    width: 232px; /* set your desired fixed width */
    display: flex; /* to align img and text horizontally */
    align-items: center; /* vertically center items */
    gap: 8px; /* space between image and text */
  }
.plan-trip-section{
  background-color: #f6f2ef;
  padding: 40px;
  padding-bottom: 10px;
  font-family: Arial, sans-serif;
}
/* Mobile */
@media (max-width: 600px) {
  .place-visit {
    flex-direction: column; /* stack vertically */
    gap: 15px;
    padding-bottom: 15px;
  }
  .fixed-width-div {
    flex: 1 1 100%; /* full width */
    max-width: 100%;
  }
}