.airport-section {
  background-color: #f6f2ef;
  padding: 40px;
  font-family: Arial, sans-serif;
}

.airport-section .container {
  max-width: 1100px;
  margin: 0 auto;
}

.intro-and-sidebar {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.intro {
  flex: 2;
}



.tab-container {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.tab {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 12px;
  border: 2px solid transparent;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  color: gray;
  position: relative;
}

.tab.active {
  border-color: #66b6b2;
  color: black;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #f3c997;
}
.cta-button-wrapper {
  margin-top: 20px;
  text-align: right;
}

.plan-button {
  background-color: #0066D4;
  color: white;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.plan-button:hover {
  background-color: #274bbf;
}