.splitSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

@font-face {
  font-family: 'CorbenBold';
  src: url('/data/corben-cdnfonts/Corben-Bold.ttf') format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/data/corben-cdnfonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
.heading {
  font-family: 'CorbenBold', serif;
  font-size: 32px;
  color: #0364A0;
  margin: 40px 0px 10px;
  padding-top: 170px;
  text-align: center;
}
.subheading {
  font-family: 'Montserrat', sans-serif;
  color: rgb(24, 62, 126);
  font-size: 18px;
}
.imageWrapper {
  flex: 1;
  position: relative;
  height: 678px;
}
.itineraryList {
  list-style-type: disc;
  padding-left: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(24, 62, 126);
  font-size: 18px;
}

.itineraryList li {
  margin-bottom: 0.5rem;
}
.textWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textWrapper h2 {
  margin-bottom: 1rem;
}

.textWrapper p {
  margin-bottom: 1rem;
  white-space: pre-wrap;
}


.ctaButton {
  display: inline-block;
  margin-top: 0.75rem;
  padding: 0.4rem 0.8rem;
  background-color: #0070f3;
  color: white;
  border-radius: 999px;
  font-size: 0.875rem;
  text-decoration: none;
  white-space: nowrap;
  max-width: fit-content;
  transition: background-color 0.3s ease;
  margin: 0.75rem;
  margin-left: calc(50% - 329px);
  cursor: pointer;
}
.ctaButton:hover {
  background-color: #005bb5;
}
