.content-section {
    
    margin-top: 20px;
  }
  .plan-trip-content{
    
    margin-top: 20px;
  }
  .plan-trip-content.active{
     display: block;
  }
  .content-section.active {
    display: block;
  }
.group-section {
  font-family: Arial, sans-serif;
  max-width: 1091px;
  margin: 20px auto;
}

.group-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.solo-section {
  font-family: Arial, sans-serif;
  max-width: 1091px;
  margin: 20px auto;
}

.solo-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}
.couple-section {
  font-family: Arial, sans-serif;
  max-width: 1091px;
  margin: 20px auto;
}

.couple-section h2 {
  font-size: 18px;
  margin-bottom: 15px;
}